body {
    font-family: 'Noto Sans KR', sans-serif; 
}

#login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #ccc;
    margin: 50px auto; 
    text-align: right; 
}

#login-box form {
    margin: 10px 0;
}

.hidden {
    display: none;
}

#login-box input[type="text"],
#login-box input[type="password"],
#login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login-box input[type="submit"] {
    background-color: #2db400;
    color: white;
    cursor: pointer;
}

#login-box input[type="submit"]:hover {
    background-color: #29a100;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
