<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamp.spring.tp.mapper.BoardMapper">
	<!-- resultType 에 복수형(ArrayList 등)을 적는게 아님. 
	그냥 vo 단수의 경로를 적어야됨. -->
	<select id="countBoard" resultType = "int">
		SELECT COUNT(*) from boards
	</select>
	
	<select id="getList" resultType="com.teamp.spring.tp.dto.BoardVO">
		SELECT * from boards ORDER BY b_no DESC limit #{start} , #{cntPerPage}
	</select>
	
	
	<select id="countBoardSearch" resultType = "int">
		SELECT COUNT(*) from boards
		<if test='"title".equals(searchType)'>
		WHERE B_TITLE LIKE concat('%',#{search},'%')
		</if>
		<if test='searchType.equals("content")'>
		WHERE B_CONTENT LIKE concat('%',#{search},'%')
		</if>
		<if test='searchType.equals("title_content")'>
		WHERE b_title LIKE concat('%',#{search},'%')
   		or b_content LIKE concat('%',#{search},'%')
		</if>
		<if test='searchType.equals("writer")'>
		WHERE b_writer LIKE concat('%',#{search},'%')
		</if>
	</select>
	<select id="getListSearch" resultType="com.teamp.spring.tp.dto.BoardVO">
		SELECT * from boards
		<if test='searchType.equals("title")'>
		WHERE B_TITLE LIKE concat('%',#{search},'%')
		</if>
		<if test='searchType.equals("content")'>
		WHERE b_content LIKE concat('%', #{search}, '%')
		</if>
		<if test='searchType.equals("title_content")'>
		WHERE b_title LIKE concat('%', #{search}, '%') 
   		or b_content LIKE concat('%', #{search}, '%')
		</if>
		<if test='searchType.equals("writer")'>
		WHERE b_writer LIKE concat('%', #{search}, '%')
		</if>
		ORDER BY b_no DESC limit #{start} , #{cntPerPage}  
	</select>
	
	
	<select id="countBoardCategory" resultType = "int">
		SELECT COUNT(*) from boards
		<choose>
			<when test='value.equals("like")'>
			WHERE B_LIKECOUNT >= 1;
			</when>
			<otherwise>
			WHERE b_category = #{category}
			</otherwise>
		</choose>
	</select>
	
	<select id="countBoardMy" resultType = "int">
		SELECT COUNT(*) from boards
		WHERE B_WRITER = #{writer}
	</select>
	
	<select id="getListCategory" resultType="com.teamp.spring.tp.dto.BoardVO">
		SELECT * from boards 
		<choose>
			<when test='category.equals("like")'>
			WHERE B_LIKECOUNT >= 1
			</when>
			<otherwise>
			WHERE b_category = #{category}
			</otherwise>
		</choose> 
		ORDER BY b_no DESC limit #{start} , #{cntPerPage}  
	</select>
	<select id="getListMy" resultType="com.teamp.spring.tp.dto.BoardVO">
		SELECT * from boards 
		WHERE B_WRITER = #{writer}
		ORDER BY b_no DESC limit #{pvo.start} , #{pvo.cntPerPage}  
	</select>
	
	
	<select id="read" resultType="com.teamp.spring.tp.dto.BoardVO">
		SELECT  * from boards where B_NO = #{b_no}
	</select>
	<update id="upCount" parameterType="int">
		UPDATE boards SET b_readcount = b_readcount + 1 where b_no = #{b_no} 
	</update>
	
	<insert id="write">
		insert into boards (b_title, b_content, b_writer, b_category) values (#{b_title}, #{b_content}, #{b_writer}, #{b_category})
	</insert>
	<delete id="delete">
		delete from boards where b_no = #{b_no}
	</delete>
	<update id="edit" parameterType="com.teamp.spring.tp.dto.BoardVO">
		UPDATE boards SET B_CONTENT = #{b_content} where b_no = #{b_no};
	</update>
	
	<!--댓글부분 구현  -->
	<insert id="replyWrite">
		insert into REPLYS (b_no, r_content, r_writer) values (#{b_no}, #{r_content}, #{r_writer})
	</insert>
	<select id="replyList" resultType="com.teamp.spring.tp.dto.ReplyVO">
		SELECT * from REPLYS WHERE b_no = #{bno} ORDER BY r_no DESC
	</select>
	<delete id="replyDelete">
		delete from REPLYS where r_no = #{r_no}
	</delete>
	
	<!-- 글 추천부분 구현 -->
	<select id="likeCheck" resultType="Boolean">
		SELECT L_CHECK from LIKES WHERE B_NO = #{bno} and U_NO = #{uno}
	</select>
	<insert id="insertLike">
		insert into LIKES (B_NO, U_NO, L_CHECK) values (#{bno}, #{uno}, true)
	</insert>
	<update id="updateLike" >
		UPDATE boards SET B_LIKECOUNT = B_LIKECOUNT+1 where b_no = #{bno};
	</update>
	<update id="updateLikeCancel" >
		UPDATE boards SET B_LIKECOUNT = B_LIKECOUNT-1 where b_no = #{bno};
	</update>
	<update id="updateLikeCheck" >
		UPDATE LIKES SET L_CHECK = true where B_NO = #{bno} and U_NO = #{uno};
	</update>
	<update id="updateLikeCheckCancel" >
		UPDATE LIKES SET L_CHECK = false where B_NO = #{bno} and U_NO = #{uno};
	</update>
</mapper>