<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamp.spring.tp.mapper.LoginMapper">
	<insert id="createID">
		insert into members (U_ID,U_PW) values (#{U_ID}, #{U_PW})
	</insert>
	<select id="loginCheck" resultType = "int">
		select count(*) from members where U_ID = #{U_ID} and U_PW = #{U_PW}
	</select>
	<select id="checkID" resultType = "int">
		select count(*) from members where U_ID = #{U_ID}
	</select>
</mapper>