<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamp.spring.tp.mapper.ReservationMapper">

    <select id="booklist" resultType="com.teamp.spring.tp.dto.ReservationVo">
        SELECT * FROM book WHERE R_name = #{R_name}
    </select>

    <delete id="bookdelete">
        DELETE FROM book WHERE R_name = #{R_name}
    </delete>

    <insert id="bookadd" parameterType="map">
	    INSERT INTO book (R_date, R_name, R_hospital_name) VALUES (#{R_date}, #{R_name}, #{R_hospital_name})
	</insert>

    <update id="bookmodify">
        UPDATE book
        SET R_date = #{R_date}, R_hospital_name = #{R_hospital_name}
        WHERE R_name = #{R_name}
    </update>

</mapper>
