<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.teamp.jang.kiosk.KioskMapper">
		<select id="getData1" resultType="com.teamp.jang.kiosk.KioskDto">
            <if test="selected1 != null">
               select*from insurance_Board where i_name = #{name} and i_selected = #{selected1}
            </if>
		</select>
		<select id="getData2" resultType="com.teamp.jang.kiosk.KioskDto">
		<if test="selected2 != null">
               select*from insurance_Board where i_name = #{name} and i_selected = #{selected2}
            </if>
		</select>
		<select id="getData3" resultType="com.teamp.jang.kiosk.KioskDto">
		<if test="selected3 != null">
               select*from insurance_Board where i_name = #{name} and i_selected = #{selected3}
            </if>
		</select>
		<select id="getData4" resultType="com.teamp.jang.kiosk.KioskDto">
		<if test="selected4 != null">
               select*from insurance_Board where i_name = #{name} and i_selected = #{selected4}
            </if>
		</select>
	</mapper>